{% extends "base2.html" %}
{% block content %}
<table class="table">
<tr>
<th>Order_Id</th>
<th>Customer_Id</th>
<th>Product_Id</th>
<th>Order_Quantity</th>
<th>Order_Price</th>
<th>Order_Discount</th>
<th>Order_Date</th>
<th>Order_Total</th>
<th>Delete</th>
<th>Update</th>
</tr>
{% for row in rows %}
 <tr>
    <td>{{row[0]}}</td>
    <td>{{row[1]}}</td> 
    <td>{{row[2]}}</td> 
    <td>{{row[3]}}</td> 
    <td>{{row[4]}}</td> 
    <td>{{row[5]}}</td> 
    <td>{{row[6]}}</td> 
    <td>{{row[7]}}</td> 
   <td><a href='/delete/{{row[0]}}'> <button type="button" class="btn btn-danger">Delete</button> </a>
   <td><a href='/edit/{{row[0]}}'> <button type="button" class="btn btn-success">Update</button> </a>
 </tr>
 
 

 
 
 
{% endfor %}
</table>
{% endblock %}