{% extends "base2.html" %}
{% block content %}
<table class="table">
<tr>
<th>Product_Id</th>
<th>Order_Id</th>
<th>Product_Name</th>
<th>Product_Price</th>
<th>Product_Quality</th>
<th>Delete</th>
<th>Update</th>
</tr>
{% for row in rows %}
 <tr>
   <td>{{row[0]}}</td>
   <td>{{row[1]}}</td>
   <td>{{row[2]}}</td>   
   <td>{{row[3]}}</td>
   <td>{{row[4]}}</td>  
   <td><a href='/delete/{{row[0]}}'> <button type="button" class="btn btn-danger">Delete</button> </a>
   <td><a href='/edit/{{row[0]}}'> <button type="button" class="btn btn-success">Update</button> </a>
 </tr>
{% endfor %}
</table>
{% endblock %}
